.App {
  text-align: center;
}

#addTask {
  align-items: center;
  padding-bottom: 20px;
}

#addTask input, #addTask button {
  margin: 10px;
  font-size: large;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

#addTask button:hover {
  background-color: #23e7ff;
}

#table {
  margin: auto;
  padding: 20px;
  background-color: white;
  width: 80%;
  border-radius: 5px;
}

#table thead {
  font-weight: bold;
  background-color: #23e7ff;
}

#deleteButton {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
}